/cone_detection/saved_models/
/video/
/logs/
/Net_7_FP32/
/cone_detection/data/saved_networks/
# /Formula-Student-Driverless-Simulator/
# /fsds-v2.2.0-linux/
#*.pt # Not ignored because they're only a few MB
*.engine
*.onnx
*.zipg
*.pyc
*.whl # Python library installation format
*.vscode # Visual Studio config files
*.coverage
*.idea
*.pyc
