/cone_detection/saved_models/
/video/
/logs/
/Net_7_FP32/
/cone_detection/data/saved_networks/
#*.pt
*.engine
*.onnx
*.zip
*.pyc
*.whl # Python library installation format
*.vscode # Visual Studio config files