/cone_detection/saved_models/
/video/
/logs/
/Net_7_FP32/
/cone_detection/data/saved_networks/
*.pt
*.engine
*.onnx
*.iml
*.xml
.idea/Deteccion_conos.iml
.idea/misc.xml
yolov5/weights/yolov5_models.zip
