# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64


#To install all these libraries:
#pip3 install -r {FILENAME}


opencv-python # To use webcam camera
python-can # Can communications

# ZED camera dependencies
cython
numpy
pyopengl

