# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64


#To install all these libraries:
#pip3 install -r {FILENAME}


opencv-python # To use webcam camera
opencv-contrib-python #?
python-can # Can communications
simple-pid
pillow #?
matplotlib # Various graphs
pandas #?

# ZED camera dependencies
cython
numpy
pyopengl

